{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Basic HTML template">
    <meta name="author" content="Your Name">
    
    <title>Document Title</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    
</head>
<body>
    <div class="page-layout">
        <div class="margin-left">&nbsp;</div>
        <div class="main-column">
            <!-- Navbar -->
            <div class="nav-container">
                <div class="nav-text">Test</div>
                <div class="nav-button-container">
                    <div class="nav-button">Home</div>
                    <div class="nav-other-buttons">
                        <div class="nav-button">Update</div>
                        <div class="nav-button">Settings</div>
                        <div class="nav-button">Logout</div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="content">
                <div class="character-sheet">&nbsp;</div>
                <div class="weight-chart">&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
            </div>
            <!-- Page content -->
            <div class="footer">
                (c) Copyright 2024
            </div>  
        </div>
        <div class="margin-right">&nbsp;</div>
    </div>
</body>
</html>