{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>{% block title %}RPG Fitness{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/nav-style.css' %}">
    <script type="text/javascript" src={% static 'js/scripts.js'%}></script>
    
    {% block custom-css %}
    
    {% endblock custom-css %}

    {% block early-script %}{% endblock early-script %}

</head>
<body>
    <div class="warning" id="warning"><img src="{% static 'images/warning.png' %}"><span class="message"></span></div>
    <div class="success" id="success"><img src="{% static 'images/success.png' %}"><span class="message"></span></div>
    <div class="page-layout">
        <div class="margin-left">&nbsp;</div>
        <div class="main-column">
            <!-- Navbar -->
            <div class="nav-container">
                <div class="nav-text">Test</div>
                <div class="nav-button-container">
                    <a href="{% url 'index' %}"><div class="nav-button">Home</div></a>
                    <div class="nav-other-buttons">
                        <a href="{% url 'update' %}"><div class="nav-button">Update</div></a>
                        <div class="nav-button">Settings</div>
                        <div class="nav-button">Logout</div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div>&nbsp;</div>
                {% block content %}

                {% endblock content %}
            
            <div class="fill-main">&nbsp;</div>

            
            <!-- Check for a message and type in the context dict and display if present -->
            {% if message and type %}
            <script> 
                showMessage("{{ type }}", "{{ message }}");
            </script>
            {% endif %}

            <!-- Area for scripts that have to appear later on the page to work -->
            {% block late-script %}{% endblock late-script %}

            <!-- Footer content -->
            <div class="footer">

                {% block footer %}
                    (c) Copyright 2024
                {% endblock footer %}
                
            </div>  
        </div>
        <div class="margin-right">&nbsp;</div>
    </div>
</body>
</html>