{% extends "dashboard/base.html" %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'styles/character-sheet-style.css' %}">
{% endblock custom-css %}

{% block title %}RPG Fitness Dashboard{% endblock title %}
            <!-- Page content -->
             {% block content %}
             <div class="content">
                <div class="character-sheet">
                    <div class="profile-pic"><img src="{% static 'images/profile-pics/bantha.jpg' %}"></div>
                    <div class="character-sheet-cell">
                        <div class="user-name">Bantha</div>
                        <div class="level-badge">
                            <div class="level-badge-text">Level</div>
                            <div class="level-badge-value">60</div>
                        </div>
                    </div>
                    <div>Test</div>
                    <div>Test</div>
                </div>
                <div class="weight-chart">&nbsp;</div>
                <div>
                    <form action="{% url 'contact' %}" method="get">
                        <button type="submit" class="btn">Contact</button>
                    </form>
                </div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
            </div>
            {% endblock content %}

            {% block footer %}(c) Copyright 2024{% endblock footer %}