:root {
    /* theme colors */
    --dark-text: #333333;
    --light-text: #FFFFFF;
    --margins: #484848;
    --nav-bar: #2C2C2C;
    --character-sheet: #dadada;
    --content-bg: #F5F5F5;
    --theme-accent: #6A0DAD;
    --supporting-accent: #4A90E2;
    --gold-accent: #FFD700;
    --margin-gradient-left: linear-gradient(90deg, #2C2C2C 50%, var(--theme-accent));
    --margin-gradient-right: linear-gradient(90deg, var(--theme-accent), #2C2C2C 50%);

    /* text sizes */
    --button-text-size: 14px;
    --hero-text-size: 48px;
    --standard-text-size: 16px;
    --footer-text-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    color: var(--dark-text);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--standard-text-size);
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

/* div{
    border: 2px solid var(--gold-accent);
} */

.margin-left{
    background: var(--margin-gradient-left);
}

.margin-right{
    background: var(--margin-gradient-right);
}

.page-layout{
    display: grid;
    grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
}

.main-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--content-bg);
    min-height: 100vh;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    gap: 1rem;
    font-size: var(--standard-text-size);
    color: var(--dark-text);
    min-height: 90vh;
    padding: 1rem;
}

.footer{
    background-color: var(--nav-bar);
    min-height: 1rem;
    max-height: 5vh;
    font-size: var(--footer-text-size);
    text-align: center;
    color: var(--light-text);
    border: 2px solid var(--nav-bar);
}

.fill-main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}