#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    min-height: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: var(--character-sheet);
    padding: 20px;
    margin: 20px;
}

.upload-box img{
    width: 150px;
    height: auto;
}

.upload-box.dragover {
    background: #e1e1e1;
    border-color: #999;
}

.file-uploaded-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.file-uploaded-list-cell{
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: var(--character-sheet);
    gap: 1rem;
    max-width: 30%;
    min-width: 30%;
}

.file-uploaded-image img{
    display: flex;
    align-items: center;
    width: 4rem;
    height: auto;
}

.file-uploaded-filename{
    display: flex;
    align-items: center;   
    font-size: 12px;
    flex-grow: 1;
}

.file-load-button{
    background-color: var(--theme-accent);
    color: var(--light-text);
    border-radius: 5px;
    padding:0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}